## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

## Thumbnails
._*

## Files that might appear on external disk
.Spotlight-V100
.Trashes

/tmp/*
*~
!*.pdf
*.xbb
*.ps
*.dvi
*.out
*.aux
*.log
*.ltjruby
*.synctex.*

extras/

test.pdf
test.tex

Work/*
